
<div class="container-fluid text-center">
<h1>About Us</h1>
<p>We are DevMatch. Our Company Focuses on creating an exclusive community for 
Developers, Investors and Entrepeneurs to meet. </br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, soluta, repellat, animi laudantium architecto sapiente minus eum ipsam similique accusamus dolores numquam dolor odio enim expedita? Ut, consequuntur commodi laudantium.
</p>
</div>